#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=eist-returns-editor
Categories=Game;
Comment=Eist returns level editor
Icon=/usr/share/eist-returns/eist-editor.png
Name=Eist level editor
